.jumbotron {
  padding: 5rem 1rem;
  background-color: #e2edff;
}

#topics {
  background-color: #e2edff;
  padding: 5rem 5rem;
}

#pembelajaran {
  background-color: white;
  padding: 5rem 4rem;
}

#katalog {
  background-color: #e2edff;
  padding: 5rem 4rem;
}
